:root {
  color:white;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  /* max-width: Apx; */
  max-height: 100vh;
}